h1 {
    color: #004080;
    text-shadow: 1px 1px #cce0ff;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px;
    border-top: 10px solid #1E90FF;
    background: #E6F2FF;
    color: #003366;
}
button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background: #1E90FF;
    border: none;
    border-radius: 5px;
    color: white;
    transition: background 0.3s ease;
}
button:hover {
    background: #187bcd;
    transform: scale(1.05);
}